/* .topic {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
}

.delete-button {
  background-color: #ff6961;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
} */
